In [83]:
import pandas as pd

In [84]:
course_name = ["Data Science" , "Machine Learning" , "Big Data" ,"Data Engine" ]

duration = ["2",'3' , '6' ,'4']

df = pd.DataFrame(data = {'coure_name' : course_name , 'duration' : duration})

In [85]:
df

         coure_name duration
0      Data Science        2
1  Machine Learning        3
2          Big Data        6
3       Data Engine        4

In [86]:
#Q1. Write a code to print the data present in the second row of the dataframe, df.

In [87]:
print(df.iloc[1])

coure_name    Machine Learning
duration                     3
Name: 1, dtype: object

In [88]:
#Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [89]:
loc = "Used for select data from dataframe loc is for name nd indice"

In [90]:
iloc = "Used for select data from dataframe iloc is for intieger"

In [91]:
#Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
#then find the output for both new_df.loc[2] and new_df.iloc[2].

In [92]:
reindex = [3,0,1,2]

In [93]:
df

         coure_name duration
0      Data Science        2
1  Machine Learning        3
2          Big Data        6
3       Data Engine        4

In [94]:
new_df = df.reindex(reindex)

In [95]:
new_df.loc[2]

coure_name    Big Data
duration             6
Name: 2, dtype: object

In [98]:
new_df.iloc[3]

coure_name    Big Data
duration             6
Name: 2, dtype: object

In [67]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [68]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.397678  0.888771  0.277079  0.795914  0.042843  0.444357
2  0.414405  0.014282  0.634949  0.943768  0.876629  0.116937
3  0.645092  0.971441  0.278603  0.454272  0.577290  0.938924
4  0.428659  0.259588  0.081024  0.160527  0.673207  0.504983
5  0.295186  0.132488  0.737448  0.348126  0.313318  0.192981
6  0.062892  0.281901  0.957961  0.556229  0.305552  0.072281

In [69]:
df1.describe()

       column_1  column_2  column_3  column_4  column_5  column_6
count  6.000000  6.000000  6.000000  6.000000  6.000000  6.000000
mean   0.373985  0.424745  0.494511  0.543139  0.464807  0.378411
std    0.190616  0.403924  0.334183  0.288752  0.300681  0.325887
min    0.062892  0.014282  0.081024  0.160527  0.042843  0.072281
25%    0.320809  0.164263  0.277460  0.374662  0.307493  0.135948
50%    0.406042  0.270744  0.456776  0.505251  0.445304  0.318669
75%    0.425096  0.737053  0.711823  0.735993  0.649228  0.489827
max    0.645092  0.971441  0.957961  0.943768  0.876629  0.938924

In [70]:
#Q4. Write a code to find the following statistical measurements for the above dataframe df1:
#(i) mean of each and every column present in the dataframe.
#(ii) standard deviation of column, ‘column_2’

In [71]:
df1.mean()

column_1    0.373985
column_2    0.424745
column_3    0.494511
column_4    0.543139
column_5    0.464807
column_6    0.378411
dtype: float64

In [72]:
df1['column_2'].std()

0.4039237417138974

In [73]:
#Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
#mean of column, column_2.
#If you are getting errors in executing it then explain why.
#[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [74]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.397678  0.888771  0.277079  0.795914  0.042843  0.444357
2  0.414405  0.014282  0.634949  0.943768  0.876629  0.116937
3  0.645092  0.971441  0.278603  0.454272  0.577290  0.938924
4  0.428659  0.259588  0.081024  0.160527  0.673207  0.504983
5  0.295186  0.132488  0.737448  0.348126  0.313318  0.192981
6  0.062892  0.281901  0.957961  0.556229  0.305552  0.072281

In [75]:
df1.loc[2,"column_2"] = "Ronk"

In [76]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.397678  0.888771  0.277079  0.795914  0.042843  0.444357
2  0.414405      Ronk  0.634949  0.943768  0.876629  0.116937
3  0.645092  0.971441  0.278603  0.454272  0.577290  0.938924
4  0.428659  0.259588  0.081024  0.160527  0.673207  0.504983
5  0.295186  0.132488  0.737448  0.348126  0.313318  0.192981
6  0.062892  0.281901  0.957961  0.556229  0.305552  0.072281

In [ ]:
#df1["column_2"].mean() 

It will show the error bcz mean function can not concanite with sting we have already replay the num to string value
thats why it is not accepatable

In [ ]:
#Q6. What do you understand about the windows function in pandas and list the types of windows
#functions?

In [34]:
Rolling function is work with previous value if we set window size 3 then it take previous 3 value including perturical 
row and make average of it

In [100]:
#Q7. Write a code to print only the current month and year at the time of answering this question.
#[Hint: Use pandas.datetime function]

In [103]:
import pandas as pd
from datetime import datetime

In [104]:
currentDate_time = datetime.now()

In [105]:
currentDate_time

datetime.datetime(2023, 10, 11, 10, 31, 7, 977504)

In [109]:
time = pd.to_datetime(currentDate_time)

In [114]:
month  =time.month

In [113]:
year  = time.year

In [116]:
print("current month" , month)

current month 10

In [117]:
print("current month" , year)

current month 2023

In [118]:
#Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
#calculates the difference between them in days, hours, and minutes using Pandas time delta. The
#program should prompt the user to enter the dates and display the result.

In [119]:
import pandas as pd

In [127]:
dt_1 = input("Enter Start date (YYYY-MM-DD): " )

Enter Start date (YYYY-MM-DD):  2020-1-22

In [126]:
dt_2 = input("Enter End date : YYYY-MM-DD : " )

Enter End date : YYYY-MM-DD :  2020-10-22

In [128]:
date1 = pd.to_datetime(dt_1)

In [129]:
date2 = pd.to_datetime(dt_2)

In [130]:
differance = date2 - date1

In [132]:
differance.days

274

In [138]:
hours =divmod(differance.days,3600)

In [144]:
hours

(0, 274)

In [139]:
minutes = divmod(differance.days,60)

In [140]:
minutes

(4, 34)

In [146]:
print("Time Differance")
print(f"Days : {differance}days")
print(f"hours : {hours}hours")
print(f"min : {minutes}hours")

Time Differance
Days : 274 days 00:00:00days
hours : (0, 274)hours
min : (4, 34)hours

Enter the file path of the CSV file:  taxonomy.csv
Enter the column name to convert to categorical:  parent_id
Enter the category order (comma-separated values):  101

Sorted Data:
    taxonomy_id                          name parent_id           parent_name
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
9        101-03                Emergency Food       101             Emergency
10       101-04             Emergency Shelter       101             Emergency
11       101-05     Help Find Missing Persons       101             Emergency
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights       NaN  Advocacy & Legal Aid
286      111-02                     Mediation       NaN                 Legal
287      111-03                        Notary       NaN                 Legal
288      111-04                Representation       NaN                 Legal
289      111-05  Translation & Interpretation       NaN                 Legal

[290 rows x 4 columns]

In [150]:
#Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
#column to a categorical data type. The program should prompt the user to enter the file path, column
#name, and category order, and then display the sorted data.

In [166]:
import pandas as pd


file = input("Enter the file path : ")

try:
	df = pd.read_csv(file)
except Exception as f:
    print(f)
    exit()
    




column_name = input("Enter the column name to covert to categorical : ")


if column_name not in df.columns:
    print(f"Column {column_name} is not found in the csv file")
    

category_order = input("Enter the category order (comma-separated values): ").split(',')



df[column_name] = pd.Categorical(df[column_name] , categories=category , ordered=True)



df = df.sort_values(by=column_name)


df

Enter the file path :  taxonomy.csv
Enter the column name to covert to categorical :  name
Enter the category order (comma-separated values):  Emergency

    taxonomy_id name parent_id           parent_name
0           101  NaN       NaN                   NaN
1        101-01  NaN       101             Emergency
2        101-02  NaN       101             Emergency
3     101-02-01  NaN    101-02        Emergency Cash
4     101-02-02  NaN    101-02        Emergency Cash
..          ...  ...       ...                   ...
285   111-01-07  NaN    111-01  Advocacy & Legal Aid
286      111-02  NaN       111                 Legal
287      111-03  NaN       111                 Legal
288      111-04  NaN       111                 Legal
289      111-05  NaN       111                 Legal

[290 rows x 4 columns]

In [24]:
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user for the file path
file_path = input("Enter the file path of the CSV file: ")

# Read the CSV file into a DataFrame
try:
    df = pd.read_csv(file_path)
except FileNotFoundError:
    print("File not found. Please check the file path.")
    exit()

# Prompt the user to select a column for time (e.g., date or month)
time_column = input("Enter the name of the time column (e.g., 'Date'): ")

# Prompt the user to select a column for product categories
category_column = input("Enter the name of the category column (e.g., 'Category'): ")

# Create a stacked bar chart
pivot_df = df.pivot(index=time_column, columns=category_column, values='Sales')
pivot_df.plot(kind='bar', stacked=True, figsize=(10, 6))

# Customize the chart
plt.title("Sales by Product Category Over Time")
plt.xlabel(time_column)
plt.ylabel("Sales")
plt.legend(title=category_column, loc='upper left', bbox_to_anchor=(1, 1))

# Show the chart
plt.show()

Enter the file path of the CSV file:  rrr

File not found. Please check the file path.

Enter the name of the time column (e.g., 'Date'):  rr
Enter the name of the category column (e.g., 'Category'):  rr

KeyError: 'rr'

In [1]:
#Q10. Write a Python program that reads a CSV file containing sales data for different products and
#visualizes the data using a stacked bar chart to show the sales of each product category over time. The
#program should prompt the user to enter the file path and display the chart.

In [4]:
import pandas as pd

In [21]:




file = input("Enter File Path : ")

try:
    df = pd.read_csv(file)
except Exception as f : 
    print(f)
    exit()
    
    
    
df = pd.Categorical(df)



print(df)

Enter File Path :  taxonomy.csv

['taxonomy_id', 'name', 'parent_id', 'parent_name']
Categories (4, object): ['name', 'parent_id', 'parent_name', 'taxonomy_id']

In [ ]:
#Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
#a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
#displays the results in a table.

In [3]:
import pandas as pd

In [4]:
data = {"St_id" : [1,2,3,4,5,6,7,8,9,10] , "st_score" : [85,90,80,75,85,82,78,85,90,85]}

In [5]:
df = pd.DataFrame(data)

In [6]:
df1 = pd.DataFrame({"Static" : ["mean" , "median" , "Mode"] })

In [15]:
mean = df["st_score"].mean()

In [13]:
medi = df["st_score"].median()

In [14]:
mode = df["st_score"].mode()

In [17]:
df1["value"] = [mean , medi , mode]

In [18]:
df1

   Static                                 value
0    mean                                  83.5
1  median                                  85.0
2    Mode  0    85
Name: st_score, dtype: int64